.custom-intro-outer {
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-light-gray);
}

.custom-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.custom-intro-content {
  margin-bottom: 4rem;
}

@media (max-width: 991px) {
    .custom-intro {
        grid-template-columns: 1fr;
    }

    .custom-intro-image img{ margin: 0 auto; }
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        margin-left: 0;
        margin-right: 0;
    }
}

.gh-head-logo img { background: transparent; max-height: 80px ; }
.gh-head .nav { margin: 0 auto }
body:not(.is-head-stacked) .gh-head { min-height: 100px ; }

@media (max-width: 767px) {
    #gh-head { height: 84px ; }
    .gh-head-logo img { max-height: 64px ; }
    #gh-head .gh-head-brand { height: 80px ; }
    .gh-topic-spacer { display: block !important; margin: 6px 0; }
}